<ion-view title="Objectives" id="page10">
  <ion-content padding="true" style="background: url(img/1.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/Objective-Arrow.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="objectives-markdown20" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:15px;">1) To provide an overview of BCM in PETRONAS</p>
    </div>
    <div id="objectives-markdown21" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:15px;">2) To train R&amp;T BCM Focal on Office BCP (BIA)</p>
    </div>
  </ion-content>
</ion-view>