<ion-view title="Videos" id="page16">
  <ion-content>
    <ion-list>
        <div class="card">
          <div> Business Continuity Management: The Time is Now </div>
            <ion-item>
                <div class="video-container" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/3IXEYVxTy4E" frameborder="0" allowfullscreen="" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
                </div>
            </ion-item>
        </div>
        <div class="card">
          <div> Business Continuity: Mother Nature, Not Always Your Friend </div>
            <ion-item>
                <div class="video-container" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/3KwJ7brkkzA" frameborder="0" allowfullscreen="" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
                </div>
            </ion-item>
        </div>
        <div class="card">
          <div> Business Continuity Planning </div>
            <ion-item>
                <div class="video-container" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/cxE940f7iq0" frameborder="0" allowfullscreen="" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
                </div>
            </ion-item>
        </div>
    </ion-list>
</ion-content>
</ion-view>